appdirs==1.4.4
capstone==5.0.9
cffi==2.1.1
cmsis-pack-manager==0.6.0
colorama==0.4.6
docopt==0.6.2
importlib-metadata==9.0.1
importlib-resources==7.1.0
intelhex==2.3.0
intervaltree==3.2.1
lark==1.3.1
libusb-package==1.0.30.0
natsort==8.4.0
packaging==26.3
prettytable==3.18.0
psutil==7.2.2
pycparser==3.0
pyelftools==0.33
pykwalify==1.8.0
pylink-square==1.7.0
pyocd==0.45.1
python-dateutil==2.9.0.post0
pyusb==1.3.1
pyyaml==6.0.3
ruamel-yaml==0.19.1
six==1.17.0
sortedcontainers==2.4.0
typing-extensions==4.16.0
wcwidth==0.8.3
west==1.5.0
zipp==4.1.0
